

/* ========================= 4. LAYOUT ========================= */


/* ========================= 8. TERMINAL ========================= */

.terminal-wrap {
  margin: var(--space-xl) var(--space-xs);
}

.terminal {
  color: var(--neutral-green);
  text-transform: uppercase;
  line-height: var(--space-lg);
}

.terminal-wrap p:last-of-type {
  color: var(--neon-green);
}



/* ========================= 10. ANIMATIONS ========================= */

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

/* ========================= 11. RESPONSIVE ========================= */

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }

  header,
  footer {
    padding: var(--space-md) var(--space-xl);
  }

  .home-stats {
    flex-direction: column;
  }

  .menu-toggle {
    display: flex;
  }

  .header-right {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    flex-direction: column;
    align-items: center;

    background-color: var(--panel-bg);
    border-top: var(--neon-green-border);
    z-index: 1000;

    /* hidden state */
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);

    transition:
      max-height 0.3s ease,
      opacity 0.2s ease,
      transform 0.3s ease;
  }

  /* WHEN ACTIVE */
  .header-right.show {
    max-height: 300px; /* enough for all links */
    opacity: 1;
    transform: translateY(0);
  }

  .nav-link {
    width: 100%;
    justify-content: center;
    padding: var(--space-md);
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}
