main {
  flex: 1;
  width: clamp(300px, 90%, 1600px);
  margin: 0 auto;
  padding: var(--space-xl);
}
main section {
  margin: var(--space-2xl) 0;
}
main > *:first-child {
  margin-top: 0;
}
.box-content {
  margin: 0 var(--space-md);
}
.box {
  background-color: var(--box-bg);
}
.title-underline {
  height: 0.3rem;
  width: 14rem;
  background-color: var(--neon-green);
  box-shadow: var(--neon-green-shadow);
}
