<!-- header.html -->
<!-- LEFT SIDE -->
<div class="header-left">
  <a href="index.html">
    <img
      src="/media/kvm-favicon.svg"
      class="header-icon"
      alt="Kato Van Mulders logo" />
    <span>KATOVANMULDERS.DEV</span>
  </a>
</div>

<!-- NEW: Hamburger button -->
<button class="menu-toggle" onclick="toggleMenu()">
  <span></span>
  <span></span>
  <span></span>
</button>

<nav class="header-right" id="nav">
  <!-- Home -->
  <a href="/index.html" class="nav-link active">
    <span class="nav-text">Home</span>
  </a>

  <!-- About -->
  <a href="/about.html" class="nav-link">
    <span class="nav-text">About</span>
  </a>

  <!-- Projects -->
  <a href="/projects.html" class="nav-link">
    <span class="nav-text">Projects</span>
  </a>

  <!-- Contact  -->
  <a href="/contact.html" class="nav-link">
    <span class="nav-text">Contact</span>
  </a>
</nav>
