<!-- LEFT SIDE -->
<div class="header-left">
  <a href="/">
    <img
      src="/media/kvm-favicon.svg"
      class="header-icon"
      alt="Kato Van Mulders logo" />
    <span>KATOVANMULDERS.DEV</span>
  </a>
</div>

<button class="menu-toggle" onclick="toggleMenu()">
  <span></span>
  <span></span>
  <span></span>
</button>

<nav class="header-right" id="nav">
  <a href="/" class="nav-link active">
    <span class="nav-text">Home</span>
  </a>

  <a href="/about/" class="nav-link">
    <span class="nav-text">About</span>
  </a>

  <a href="/projects/" class="nav-link">
    <span class="nav-text">Projects</span>
  </a>

  <a href="/contact/" class="nav-link">
    <span class="nav-text">Contact</span>
  </a>
</nav>