/* ========================= index.css ========================= */

/* ========================= 6. HERO ========================= */

.page-home .hero p {
  max-width: 600px;
}

.page-home .hero + .tech-stack {
  margin-top: var(--space-lg);
}

/* BUTTONS */

.home-main-links {
  display: flex;
  align-items: center;
  gap: var(--space-xl);
  margin: var(--space-xl) 0;
}

.btn + .home-main-links-contact {
  background: var(--dark-bg);
  color: var(--neon-cyan);
  border: var(--neon-cyan-border);
}

.btn + .home-main-links-contact:hover {
  background: var(--neon-cyan);
  color: var(--dark-bg);
  box-shadow: var(--neon-cyan-shadow);
}

.home-main-links-projects {
  background: var(--neon-green);
  color: var(--dark-bg);
  border: 1px solid transparent;
}

.home-main-links-projects:hover {
  background: var(--dark-bg);
  color: var(--neon-green);
  border: var(--neon-green-border);
  box-shadow: var(--neon-green-shadow);
}

/* ========================= 9. TECH STACK ========================= */

.tech-stack h2 {
  color: var(--neon-green);
}

.category {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Allows spans to move below the H3 */
  gap: var(--space-sm);
}

.tech-stack_list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: var(--neon-cyan);
  gap: var(--space-sm);
}

.tech-stack_list span {
  padding: var(--space-md);
  border: var(--toned-cyan-border);
  font-size: var(--space-lg);
  transition: var(--transition-normal);
}

.tech-stack_list span:hover {
  box-shadow: var(--neon-cyan-shadow);
  border: var(--neon-cyan-border);
}

.tech-stack .btn {
  align-self: flex-end;
  padding: var(--space-sm) var(--space-2xl);
  text-transform: uppercase;
  text-decoration: none;
  background: var(--dark-bg);

  color: var(--neon-green);
  border: var(--neon-green-border);
  transition: var(--transition-normal);
}

.tech-stack .btn:hover {
  background: var(--neon-green);
  color: var(--dark-bg);
  box-shadow: var(--neon-green-shadow);
}
